.full {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 5vw;
    background-color: white;
}

.left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
    gap: 3vw;
    background: linear-gradient(to bottom right, #342CCB, #664BEB, #664BEB);
}

.left p {
    color: white;
    font-size: 3vw;
    font-weight: bold;
    padding-left: 8vw;
}

.image-container {
    position: relative;
    width: 500px;
    height: 500px;
}

.bg-image {
    position: absolute;
    width: 25vw;
    height: 25vw;
    margin-left: 9vw;
    margin-top: 0vw;
}

.top-image {
    position: absolute;
    ;
    width: 25vw;
    height: 25vw;
    margin-left: 8vw;
    margin-top: 1vw;
}

.Right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.Right h1 {
    font-size: 4vw;
    font-weight: bold;
    padding-left: 16vw;
    text-decoration: underline;
}

.Right p {
    font-size: 1.5vw;
    padding-left: 8vw;
    font-weight: bold;
}

.Right form {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.Right input {
    width: 30vw;
    height: 8vh;
    border: 1px solid black;
    font-size: 3vh;
    border-radius: 20px;
    padding-left: 1vw;
    margin-left: 8vw;
}

.Right button {
    margin-top: 2vw;
    margin-left: 12vw;
    margin-bottom: 2vw;
    width: 22vw;
    height: 8vh;
    background-color: #342CCB;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 2.5vw;
    font-weight: bold;
    cursor: pointer;
}

.Right button:hover {
    background-color: #664BEB;
}

.checkbox{
    display: flex;
    flex-direction: row;
    margin-top: 2vw;
    align-items: center;
    gap: 1vw;
    font-size: 1.5vw;
}

.checkbox input{
    width: 2vw;
    height: 2vw;
    margin-left: 8vw;
}


@media (max-width: 768px) {


    .left {
        display: none;
    }

    .Right {
        width: 100vw;
        height: 100vh;
        gap: 2vw;
    }

    .Right h1 {
        padding-left: 0;
        text-align: center;
        font-size: 5vh;
    }

    .Right p {
        padding-left: 8vh;
        font-size: 3vh;

    }

    .Right form {
        gap: 1vw;
    }

    .Right input {
        width: 80%;
        margin-left: 10%;
    }

    .Right button {
        margin-left: 10%;
        margin-top: 5vh;
        width: 80%;
        font-size: 4vh;
    }

    .checkbox{
        margin-top: 2vh;;
        padding-left: 0;
        font-size: 3vh;
    }
    .checkbox input {
        width: 4vh;
        height:4vh;
        margin-left: 8vh;
    }
}