.Footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #E2E2E2;
    width: 100%;
    height: 20vh;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: "Kulim Park", sans-serif;
}

.Footer p{
    margin-left: 1vw;
}
.Footer img{
    width: 3.5vw;
}

.social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;

}

.social img{
    width: 3vw;
}

.social img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}